# Integers and Floats

In [1]:
50 - 5*3

35

In [2]:
type(25)

int

In [3]:
25/5

5.0

In [4]:
type(_) #the last cell run

float

In [5]:
26/5 #division

5.2

In [6]:
26//5 #floor division

5

In [7]:
26%5 #remainder

1

In [8]:
int(2.1)

2

In [9]:
float(0)

0.0

In [10]:
a = 6
type(a)

int

In [11]:
b = 3.14
type(b)

float

In [12]:
x = 3
print(x + 3)
print(x - 1)
print(x * 10)
print(x ** 2)

6
2
30
9

In [13]:
x += 1 #shorthand
x

4

In [14]:
x *= 10
x

40

In [15]:
a, b, c = 2, 3.14, 10 #multiple assignment
print(a, b, c, sep = '-----')

2-----3.14-----10

In [16]:
a = 'foo'
type(a)

str

In [17]:
'5' + 10 #operation overloading------error-----can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [18]:
int('5') + 10

15

In [19]:
'5' + str(10)

'510'

In [20]:
a, b = 10, 10.0 #int are converted to float when other operand is float--------int + float = float
print(a + b)

20.0

In [21]:
c = 10 #int + int = int
a + c

20

# Lists

In [22]:
lista = ['one', 2, 'three', 4.1, ['a', 'b', 'c']]

In [23]:
lista[0]

'one'

In [24]:
lista[1]

2

In [25]:
lista[2]

'three'

In [26]:
lista[3]

4.1

In [27]:
lista[-1]

['a', 'b', 'c']

In [28]:
altralista = lista #refer tot he same list

In [29]:
altralista.append(1000)

In [30]:
altralista

['one', 2, 'three', 4.1, ['a', 'b', 'c'], 1000]

In [31]:
altralista.append(['andrea', 'alessio'])

In [32]:
altralista

['one', 2, 'three', 4.1, ['a', 'b', 'c'], 1000, ['andrea', 'alessio']]

In [33]:
#modifying another list referring to the same I'm changing also the other --------REFERRING TO THE SAME LIST

In [34]:
lista

['one', 2, 'three', 4.1, ['a', 'b', 'c'], 1000, ['andrea', 'alessio']]

# Strings

In [35]:
3 * 'Andrea' + 3 * 'Cutrera' #Concatenation

'AndreaAndreaAndreaCutreraCutreraCutrera'

In [36]:
stringa = 'Andrea'
stringa += ' Cutrera'
stringa

'Andrea Cutrera'

In [37]:
st = 'A'
st1 = st + 'B'
print(st, st1, sep = '~~~') #strings are UNMUTABLE

A~~~AB

In [38]:
print('''\
Warning message: server connection failed

                       - G try again             - B Close
                       - S Save                  - P Print
                       - Q Quit session
                       
''')

Warning message: server connection failed

                       - G try again             - B Close
                       - S Save                  - P Print
                       - Q Quit session

In [39]:
s = 'andrea' #some METHODS for strings
print(s.capitalize())
print(s.upper())

Andrea
ANDREA

In [40]:
s = '          __ANDREA          CUTRERA__           '

In [41]:
s

'          __ANDREA          CUTRERA__           '

In [42]:
print(s.strip())

__ANDREA          CUTRERA__

In [43]:
dir(s) #TO show the methods available

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [44]:
len(s) #FOR STRINGS IT RETURNS THE NUMBER OF CHARACTERS

48

In [45]:
len(lista) #NUMBER OF ELEMENTS of the list

7

# SCALAR OBJECTS: int, float, bool, str... ---> UNMUTABLE

# COMPOUND:         
# -SEQUENCES: tuple, list, range ----> order of the elements matters                                 
# -COLLECTIONS: dictionary, sets -----> order of the elements is arbitrary

In [46]:
s = 'hello'

In [47]:
len(s)

5

In [48]:
s[len(s)-1]

'o'

In [49]:
s[-1]

'o'

In [50]:
s[0]

'h'

In [51]:
s[0] = 'bello' #ERROR, because sttrings cannot be modified --str' object does not support item assignment

TypeError: 'str' object does not support item assignment

# NoneType

In [52]:
type(None)

NoneType

In [53]:
a = None

In [54]:
print(a)

None

In [55]:
type(a)

NoneType

# BOOLEANS

In [56]:
t, f = True, False
type(t)

bool

In [57]:
print(t and f)

False

In [58]:
print(t or f)

True

In [59]:
print(not f)

True

In [60]:
print(not t)

False

In [61]:
print(t and f, t or f, sep = (', '))

False, True

In [62]:
a, b = 0.1, 'pippo'
c = None

In [63]:
if a and c:
    print('Sono veri')
else: 
    print('Non sono veri')

Non sono veri

In [64]:
if a and b:
    print('Sono veri')
else: 
    print('Non sono veri')

Sono veri

In [65]:
#by default an object is considered TRUE

# TUPLE

In [66]:
t = (1, 2, 'three', ['a', 'b'])

In [67]:
t[-1]

['a', 'b']

In [68]:
t[0]

1

In [69]:
t[2] = 'cambia' #non funziona --- tuples are UNMUTABLE

TypeError: 'tuple' object does not support item assignment

In [70]:
t = (1, [2], 'pippo')

In [71]:
t

(1, [2], 'pippo')

In [72]:
s = t

In [73]:
s

(1, [2], 'pippo')

In [74]:
s[1] #in position 1 there is a list -----LISTS are MUTABLE ---I CAN APPEND SOMETHING

[2]

In [75]:
s[1].append(3)
t

(1, [2, 3], 'pippo')

In [76]:
s

(1, [2, 3], 'pippo')

In [77]:
t #I MANAGED TO CHANGE IT

(1, [2, 3], 'pippo')

In [78]:
t = tuple(['a', 'lista', 2]) #to make a tuble from a list

In [79]:
t

('a', 'lista', 2)

In [80]:
type(t)

tuple

In [81]:
t = (1, 2, 3)
type(t)

tuple

In [82]:
li = list(t)
type(li)

list

In [83]:
li is t

False

In [84]:
id(li) == id(t)

False